<ion-tabs>
  <ion-tab-bar slot="top" color="primary">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline">
        <ion-label>Profile</ion-label>
      </ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-icon name="easel-outline">
        <ion-label>Dashboard</ion-label>
      </ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline">
        <ion-label>Settings</ion-label>
      </ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
